@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.wrapper{
    background-color: #040404;
    height: 100vh;
    color: white;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header-p{
    font-weight: 400;
}
button{
    background-color: #040404;
    color: white;
    border: 1px solid #EA86A5;
    padding: 3px 15px;
    border-radius: 7px;
}
h1{
    font-size: 3rem;
    max-width: 450px;
    padding-bottom: 30px;
}
svg{
    height: 500px;
    width: 500px;
}