@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins&family=Jaldi&family=Roboto+Flex:opsz@8..144&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Jaldi", sans-serif;
	scroll-behavior: smooth;
}
